{% extends molecule('product-item', '@SprykerShop:ShopUi') %}

{% block extraClass %}
	{{ config.jsName }}
{% endblock %}

{% block body %}
	<div class="{{ config.name }}__container">
		{% block content %}
			<div class="product-item__top-bar grid grid--justify">

				<div class="product-item__label-group col--lg-10">
					{{ block('labels') }}
				</div>
				<div class="product-item__wishlist col--lg-2">
					<a href="/wishlist" class="product-item__wishlist-icon">

						<svg class="icon icon--medium-up" data-qa="component icon" title="wishlist">
							<use xlink:href="/assets/current/default/icons/sprite.svg#:wishlist"></use>
						</svg>
					</a>
				</div>

			</div>

			<a href="{{ functionExists('generatePath') ? generatePath(data.url) : data.url }}" class="{{ config.name }}__info {{ config.jsName }}__link-detail-page grid grid--justify grid--top grid--nowrap">
				{% if data.name %}
					<div class="col col--sm-12 col--md-8">
						{{ block('title') }}
					</div>
				{% endif %}
			</a>

			<div class="{{ config.name }}__review" itemscope itemtype="http://schema.org/AggregateRating" itemprop="aggregateRating">
				{{ block('rating') }}
			</div>
			<meta class="{{ config.jsName }}__abstract-sku" itemprop="abstractSku" content="{{ data.abstractSku }}">
			<meta class="{{ config.jsName }}__sku" itemprop="sku" content="{{ data.metaSku }}">
		
		<div class="{{ config.name }}__image-wrap">
			{% block imageContainer %}
				{{ parent() }}
			{% endblock %}


			<div class="{{ config.name }}__overlay-container">
				{% block colors %}
					{% widget 'ProductGroupColorWidget' args [data.idProductAbstract, data.product.selectedAttributes ?? []] use view('product-item-color-selector', 'ProductGroupWidget') with {
                        data: {
                            parentJsName: config.jsName,
                            parentName: config.name,
                        },
                    } only %}{% endwidget %}
				{% endblock %}

				{% set isColorSelectorExist = block('colors') | spaceless %}

				{% block ajaxAddToCart %}{% endblock %}
			</div>
		</div>
		<div class="{{ config.name }}__price-block">
        Starting At
         {{ block('price') }}
		</div>
        {% endblock %}
	</div>
{% endblock %}

{% block image %}
	{% set extraClass = '' %}
	{% set linkExtraClass = '' %}
	{% set modifiers = ['spaceless'] %}

	{% block productThumbnail %}
		<a itemprop="url" class="{{ config.name }}__overlay {{ config.jsName }}__link-detail-page {{ linkExtraClass }}" href="{{ functionExists('generatePath') ? generatePath(data.url) : data.url }}">
			{{ parent() }}
		</a>
	{% endblock %}
{% endblock %}
